.background-select-page {
    background-color: #864cbf;
}

.background-detail {
    background-color: #00000040;
}

.classic-button {
    background-color: #26890c;
}

.team-button {
    background-color: #1368ce;
}
