.background-loading {
    background-color: #864cbf;
}

.background-header {
    background-color: #25076b;
}

.background-content {
    background-color: #4e2998;
}

.background-detail {
    background-color: #00000040;
}

