.login-page-content {
  .form-container {
    max-width: 26rem;
    font-size: 14px;
    @apply w-full;

    .form-title {
      line-height: 140%;
      @apply text-2xl font-bold text-center;
    }
    .chakra-form__label, .chakra-button {
      font-size: inherit !important;
    }
    .btn-login {
      /* @apply w-full; */
    }
  }
}