.personal-register-component {
  
}

.student-register-component {
  top: calc(var(--header-height) + 1)
  @apply relative;
  @apply flex justify-center items-center flex-col;
}

.student-type-title{
  font-size:24px;
  font-weight: bold
}

.student-date-picker{
  background-color:white;
  max-width: 31rem;
  width: 100%;

}

